.App {
  max-width: 860px;
  margin: 40px auto;
}
.gameImages{
  width: 200px;
  height: 200px;
  margin-right: 15px;
}
.GameBoard{
  margin: auto;
  width: 50%;
  padding: 10px;
  margin-top: 2cm;
}
.choice{
  font-size: smaller;
}
.ResultContainer{
  margin: auto;
  width: 70%;
  text-align: center;
  height: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.userResult{
  margin: auto;
  width: 50%;
  height: 400px;
}
.cpuResult{
  margin: auto;
  width: 50%;
  height: 400px;
}
.button {
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #f44336;
  color: white;
}
